{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
	<button class="delete-cat" data-id="{{id}}">
		DELETE
	</button>

	
</li> --}}


<li class="list-group-item list-group-item-primary">

    {{name}}

    <button class="float-right" id="devour-it" data-id="{{id}}" data-isEaten="1">Devour it!!</button>


</li>